@import "../../../variables";

#CONTENT_WRAPPER{
  flex:1;
  
  #CONTENT{
    background: #fff;

    .blockp{
      width:100px;
      height: 50px;
      display:inline-block;
    }

    .firstp{
      background: @primary_color;
    }
    .secp{
      background: @secondary_color;
    }
    .thip{
      background: @accent_color;
    }
    .fop{
      background: @grey_color;
    }

  }
}