@import "../../../variables";

#HEADER_COMPONENT {
  padding: 15px;
  background: #fff;
  border-bottom: 3px solid @primary_color;

  #header-component__content {
    display: flex;
    justify-content: space-between;
  }

  #header-component__logo {
    background: #eee;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-style: italic;
  }

  #header-component__menu {

    display: flex;

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
      }
    }

    #header-component__menu__user-actions, #header-component__menu__categories {

      * {
        font-family: @fontface;
      }

      a {
        &:hover {
          text-decoration: none;
        }
      }

      ul {
        li {
          a {
            font-size: 18px;
            padding: 6px 12px;
            display: block;
          }
        }
      }
    }

    #header-component__menu__categories {

      & > ul { // first lvl
        & > li { // first lvl
          transition: all ease 0.5s;
          position: relative;
          border-radius: 5px;

          &:nth-of-type(1) {
            & > a svg {
              color: @color-from-pattern-brown
            }
          }

          &:nth-of-type(2) {
            & > a svg {
              color: @color-from-pattern-red
            }
          }

          &:nth-of-type(3) {
            & > a svg {
              color: @color-from-pattern-green
            }
          }

          & > a { // first lvl
            color: @primary_color;

            svg {
              width: 24px;
              margin-right: 3px;
            }
          }

          // menu animation
          &:hover {
            background: @primary_color;

            & > a {
              color: #fff;

              svg {
                color: #fff;
              }
            }

            ul {
              li {
                max-height: (39px * 2);
                transition: all ease 0.5s;
              }

            }
          }

          ul { // second lvl

            padding-top: 5px;
            overflow: hidden;
            position: absolute;
            z-index: 1;


            li { // second lvl
              display: block;
              max-height: 0;
              background: #fff;

              a { // second lvl
                min-width: 170px;
                background: #fff;

                color: @primary_color;

                border-left: 3px solid @grey_color;
                border-right: 3px solid @grey_color;

                &:hover {
                 // background: rgba(@grey_color_rgb , 0.5)
                  text-decoration: underline;
                }
              }

              &:first-of-type a {
                border-top: 3px solid @grey_color;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
              }

              &:last-of-type a {
                border-bottom: 3px solid @grey_color;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
              }

            }
          }
        }
      }
    }

    #header-component__menu__user-actions {

      &::before {
        content: '|';
        text-align: center;
        display: inline-block;
        position: relative;
        padding: 6px 12px;

        color: @grey_color;
      }

      ul {
        display: inline-block;

        li {
          a {
            color: @primary_color;
            transition: all ease 0.5s;
            border-radius: 5px;

            .badge-primary {
              background: @accent_color;
            }

            &:hover {
              background: @primary_color;
              color: #fff;
            }
          }
        }
      }

      #header-component__menu__user-actions__basket {

      }
    }

  }
}